/* CSS for Navbar Component */
nav {
    background-color: #065f19bd; /* Background color */
    color: #fff; /* Text color */
    font-family: Arial, sans-serif; /* Font family */
    padding: 10px; /* Padding */
  }
  
  ul {
    list-style-type: none; /* Remove default list styles */
    display: flex; /* Display links horizontally */
    justify-content: space-between; /* Align links with space between */
    align-items: center; /* Vertically align items */
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
  }
  
  li {
    margin-right: 0 10px; /* Right margin between list items */
  }
  
  a {
    color: #fff; /* Link color */
    text-decoration: none;
    font-weight: bold; /* Font weight */
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
     /* Remove underline */
  }
  
  a:hover {
    color: #0d0707; /* Link color on hover */
  }
  